
body {
    background-image: url('../img/bg_picture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.29);
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#user_login_form {
    background: transparent;
    /* Transparent background for form */
    border-radius: 8px;
    z-index: 2;
}

.form-control,
.btn-primary {
    background-color: white;
    /* White background for input fields and button */
    color: black;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-primary {
    background-color: #0100b7;
    /* Custom button color if desired */
    border-color: #0100b7;
    color: white;
}

.card-authentication {
    background: rgba(255, 255, 255, 0.6);
    /* Semi-transparent background for the card */
    border-radius: 8px;
    padding: 20px;
}

.label-shadow {
    color: #0100b7;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); */
    /* Creates a shadow effect */
}


.colored-toast.swal2-icon-success {
    background-color: #27c251 !important;
    color: white;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
    color: white;
}

.swal2-error {
    background-color: white;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
    color: white;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
    color: white;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
    color: white;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}

.colored-toast {
    color: white;
}
